body {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  height: 100vh;
}

button:focus {
  outline: none;
}

#error {
  display: none;
}

#keyboard-console {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/164/623/original/woodgrain-background-vector.jpg");
  background-size: 100%;
  border-radius: 5px;
  max-width: 70%;
  width: fit-content;
  margin: auto;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin: 100px auto;
}

#keys-container {
  height: 195px;
  width:fit-content;
  margin-top: 15px;
}

#button-flex-container {
  display: flex;
  justify-content: space-between;
}

.whitenote {
  height: 100%;
  width: 60px;
  background: white;
  float: left;
  position: relative;
  border-radius: 3px;
  margin: 1px;
  display: flex;
  flex-direction: row;
}

.whitenotekey {
  align-self: flex-end;
  margin: 0 auto;
  padding: 10px;
}

.blacknote {
  position: absolute;
  height: 52%;
  width: 66%;
  z-index: 1;
  background: black;
  left: 70%;
  border-radius: 3px;
  color: white;
  display: flex;
}

.ascii-key-display {
  align-self: flex-end;
  margin: 0 auto;
  padding: 10px;
}

.button-container {
  background: black;
  color: white;
  text-align: left;
  display: flex;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
}

.octave-btn-container {
  width: 120px;
}

.wave-btn-container {
  width: fit-content;
  align-self: flex-end;
}

.synth-btn{
  width: 42px;
  background: #6DBEE4;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  margin: 5px 10px;
  padding: 5px;
  text-align: center;
  font-family: sans-serif;
}

.change-octave-btn {
  background: #F84D00;
}

#sine, #square {
  font-size: 18px;
}

.wave-selected {
  background: #F84D00;
}

@media only screen and (max-width: 990px) {
  #wrapper {
    display: none;
  }

  #error {
    display: block;
    width: 90%;
    margin: 20px auto;
    background: #F84D00;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    text-transform: none;
  }

}