#container {
  position: absolute;
  height: 200px;
  /* border: 1px solid black; */
  top: calc(50% - 100px);
  left: calc(50% - 350px);
}

.whitenote {
  height: calc(100% - 2px);
  width: 50px;
  background: white;
  float: left;
  border: 1px solid black;
  position: relative;
  border-radius: 5px;
  margin: 0 .5px;
}

.whitenote:last-child {
  /* border-right: none; */
}

.blacknote {
  position: absolute;
  height: 65%;
  width: 55%;
  z-index: 1;
  background: black;
  left: 71%;
}